:root {
  --background-color: #fff;
  --primary-color: #0051ffdb;
  --color: #000000;
  --footer-bg: #00002d;
  --color-hover: #737373d4;
  --nav-bg: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  scroll-behavior: smooth;
}

/* section container */
.section-container {
  padding: 120px 20px;
  width: 75%;
  justify-self: center;
}

.section-container .section-header {
  font-size: 32px;
  text-align: center;
  padding: 0 0 80px 0;
  text-decoration-line: underline;
  text-underline-offset: 14px;
}

/* nav section */
.top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
  color: var(--primary-color);
  height: 85px;
  position: sticky;
  top: 0;
  scroll-behavior: smooth;
  padding: 0 20px;
  background: var(--nav-bg);
  box-shadow: 5px 4px 10px #d8d8d8;

  z-index: 1;
}

.logo a {
  color: var(--color);
}

.logo a:hover {
  color: var(--color-hover);
  transition: 0.3s ease;
}

.menu nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: var(--color);
  font-size: 20px;
}

.menu a:hover {
  color: var(--color-hover);
  transition: 0.3s ease;
}

/* hero section */

.hero-section {
  text-align: center;
  align-content: center;
  padding: 120px 20px;
  height: 100vh;
}

.header {
  font-size: 65px;
  padding: 0 0 18px 0;
}

.header strong {
  color: var(--primary-color);
}

.sub-header {
  font-size: 25px;
  padding: 0 0 22px 0;
}

.header-content {
  font-size: 18px;
  color: var(--color-hover);
  padding: 0 0 32px 0;
  line-height: 2rem;
}

.hero-btn {
  padding: 0 0 42px 0;
}

.contact-btn,
.work-btn {
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 16px;
  text-decoration: none;
}

.contact-btn {
  background: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}

.contact-btn:hover,
.work-btn:hover {
  background: var(--color-hover);
  transition: 0.3s ease;
  color: #fff;
  border: 2px solid #fff;
}

.work-btn {
  background: #fff;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.hero-connect a {
  padding: 0 20px;
  color: var(--color);
}

.hero-connect a:hover {
  cursor: pointer;
  color: var(--color-hover);
  transition: 0.3s ease;
}

/* about section */

.about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

.about-content img {
  max-height: 450px;
  min-width: 350px;
  border-radius: 10px;
  flex: 1;
}

.about-details {
  font-size: 18px;
  word-wrap: wrap;
  flex: 1;
}

/* skill section */
.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
}

.skill-item {
  background: #d3d3d32c;
  padding: 16px 12px;
  border-radius: 10px;
}

.skill-item:hover {
  box-shadow: 5px 4px 12px #d8d8d8;
}

.skill-item i,
.skill-item h4,
.skill-item p {
  padding: 15px 12px;
}

.skill-item i {
  color: var(--primary-color);
  font-size: 30px;
}

.skill-item h4 {
  font-size: 18px;
}

.skill-item p {
  font-size: 16px;
}

/* feature section */

.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 2rem;
}

.feature-grid-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
  min-height: 530px;
  box-shadow: 5px 4px 12px #d8d8d8;

  position: relative;
  /* z-index: 100; */
}

.feature-grid-item-content {
  padding: 20px 18px;
}

.feature-grid-item-content h4 {
  font-size: 20px;
  padding: 0 0 12px 0;
}

.feature-grid-item-content p {
  font-size: 16px;
  padding: 0 0 14px 0;
}

.lang {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.lang p {
  background-color: #008cff3b;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 10px;
  padding: 12px 18px;
}

.source-code {
  position: absolute;
  bottom: 0;
  padding: 12px 0;
  color: var(--color);
}
.source-code:hover {
  color: var(--color-hover);
  transition: 0.3s ease;
}

.source-code a:hover {
  color: var(--color-hover);
  transition: 0.3s ease;
}

.source-code a {
  text-decoration: none;
  color: var(--color);
  padding: 0 15px 0 0;
}

.feature-grid-item img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

/* contact section */

.contact-sub-header {
  position: relative;
  top: -50px;
  text-align: center;
  font-size: 16px;
  z-index: -1;
}

.contact-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.contact-method {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}

.contact-method-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
}

.contact-method-item-icon {
  font-size: 20px;
  color: var(--primary-color);
  background-color: #7d98f842;
  padding: 8px;
  border-radius: 5px;
}

.contact-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.contact-form label {
  font-size: 20px;
  padding: 0 0 8px 0;
}

.contact-form input {
  height: 40px;
  border-radius: 10px;
  border: 1px solid #818181;
  margin: 0 0 18px 0;
  padding: 0 0 0 8px;
  font-size: 18px;
}

.contact-form span {
  display: flex;
}

.contact-form button {
  padding: 15px;
  font-size: 16px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  margin: 25px 0 50px 0;
}

.contact-form button:hover {
  background: var(--primary-color);
  box-shadow: 0 4px 5px var(--primary-color);
}

#message {
  /* height: 80px; */
  padding: 10px;
  border: 1px solid #818181;
  border-radius: 10px;
}

/* footer section */
.footer-section {
  background: var(--footer-bg);
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 3rem;
  list-style-type: none;
  height: 40vh;
}

.footer-item {
  padding: 70px 0 0 20px;
}

.footer-item h5 {
  font-size: 18px;
  padding: 0 0 15px 0;
  color: #fff;
}

.footer-item p {
  color: #e8e7e7dd;
  font-size: 18px;
}

.footer-item li {
  color: #e8e7e7dd;
  padding: 0 0 px 0;
  font-size: 18px;
}

.footer-item li a {
  color: #e8e7e7dd;
  text-decoration: none;
}

.footer-item i {
  padding: 0 50px 20px 0;
  color: #e8e7e7dd;
}

.copyRight {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  color: #e8e7e7dd;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
  }
  .top-menu {
    width: 100%;
  }

  .menu nav ul {
    display: flex;
    flex-direction: column;
    visibility: hidden;
  }

  .section-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
